body {
    text-align: center;
    font-size: 2em;
    font-family: monospace;
    margin: 0px;
    overflow: hidden;
}

text {
    font-size: 1.3em;
    color: white;
}

.tick line {
    stroke: lightsteelblue;
}

.line-path {
    fill: none;
    stroke: lavender;
    stroke-width: 5;
    stroke-linejoin: round;
}